<div>
    <!-- =============== 21,22,23 Class so on =========== -->
    <!-- <button (click)="onSelectUser()">
        <img [src]="ImagePath" [alt]="name">
        <span>{{name}}</span>
    </button> -->

    <!-- =============== 24 signal inputs =========== -->
    <!-- <button (click)="onSelectUser()">
        <img [src]="ImagePath()" [alt]="name()">
        <span>{{name()}}</span>
    </button> -->


    <!-- ========== 26 Class so on =========== -->
    <button (click)="onSelectUser()">
        <img [src]="ImagePath" [alt]="name">
        <span>{{name}}</span>
    </button>

</div>