<app-header />
<main>
    <ul id="users">

        <!-- ======================== -->
        <!-- // NOte  Class_20_to_30 -->
        <!-- ======================== -->
        <!-- <li>
            <app-user [avatar]="users[0].avatar" [id]="users[0].id" [name]="users[0].name"
                (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [avatar]="users[1].avatar" [id]="users[1].id" [name]="users[1].name"
                (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [avatar]="users[2].avatar" [id]="users[2].id" [name]="users[2].name"
                (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [avatar]="users[3].avatar" [id]="users[3].id" [name]="users[3].name"
                (select)="onSelectUser($event)" />
        </li> -->



        <!-- ======================== -->
        <!-- // NOte  Class_33_to_41 -->
        <!-- ======================== -->
        @for(user of users;track $index){
            <li>
                <app-user [user]="user" (select)="onSelectUser($event)" [selected]="user.id===selectedUserId"/>
            </li>
        }

        <!-- <li *ngFor="let user of users">
            <app-user [user]="user" (select)="onSelectUser($event)" />
        </li> -->
    </ul>


    <!-- --------- Conditinal if ------------ -->
    @if(onSelectUserObj){
        <app-tasks [userId]="onSelectUserObj.id" [userName]="onSelectUserObj.name" />
    }
    @else{
        <p id="fallback">Select a user to see their tasks!</p>
    }

    <!-- <app-tasks *ngIf="onSelectUserObj else fallback" [userName]="onSelectUserObj.name"/>
    <ng-template #fallback>
        <p id="fallback">Select a user to see their tasks!</p>
    </ng-template> -->
    
</main>